body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.settings {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.settings label {
    margin-right: 10px;
}

.settings select,
.settings input[type="checkbox"] {
    margin-right: 15px;
}

button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #4cae4c;
}

video {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


#downloadLink {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    width : 12%;
    text-align: centerb;
	background-color: #ccc;
}
#downloadLink:hover{
	background-color: #5cb85c;
}

#recordTime {
    display: inline-block;
    margin-left: 10px;
	padding:0 5px;
    font-weight: bold;
	font-size: 26px;
	border : 2px solid green;
	border-radius: 20px;
}

#reviewVideo {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}